In [1]:
d1= {"Lina Williams cv": ["Birthdate: 26 July 1997", "Age: 24", "Adress:London, UK", "Job Title: Dentist"] }

In [2]:
d1

{'Lina Williams cv': ['Birthdate: 26 July 1997',
  'Age: 24',
  'Adress:London, UK',
  'Job Title: Dentist']}

In [3]:
d2= {"Mirana Evans cv": ["Birthdate: 3 April 1990", "Age: 31", "Adress:New York, US", "Job Title: Engineer"]}

In [4]:
d2

{'Mirana Evans cv': ['Birthdate: 3 April 1990',
  'Age: 31',
  'Adress:New York, US',
  'Job Title: Engineer']}

In [5]:
d3= {'Clark Kent cv': ["Birthdate: 5 May 1983 ","Age: 37","Adress:Kansas, US","Job Title: Journalist"]}

In [6]:
d3

{'Clark Kent cv': ['Birthdate: 5 May 1983 ',
  'Age: 37',
  'Adress:Kansas, US',
  'Job Title: Journalist']}

In [7]:
d4= {"Ember Spirit cv": ["Birthdate: 27 August 2000 ","Age: 20","Adress:London, UK","Job Title: Fireman"]}

In [8]:
d4

{'Ember Spirit cv': ['Birthdate: 27 August 2000 ',
  'Age: 20',
  'Adress:London, UK',
  'Job Title: Fireman']}

In [9]:
d5= {"Luna Murphy cv":["Birthdate: 18 June 2001 ","Age: 19","Adress: Dublin Ireland","Job Title: Student at Dublin City University"]}

In [10]:
d5

{'Luna Murphy cv': ['Birthdate: 18 June 2001 ',
  'Age: 19',
  'Adress: Dublin Ireland',
  'Job Title: Student at Dublin City University']}